version: "3.9"

services:
  api:
    build: .
    container_name: github-popularity-api
    env_file:
      - .env
    ports:
      - "8000:8000"
    depends_on:
      - redis

  redis:
    image: redis:7
    container_name: github-popularity-redis
    ports:
      - "6379:6379"
